# Hacktiv8 Python for Data Science - Sesi 1

Sesi 1:

- Python Introduction
- Python Data Type
- Variable

## Python Basic Data Types

### Integer

In [1]:
1

1

In [2]:
print(1)
print(type(1))

1
<class 'int'>

### Floating Point

In [8]:
print(4.2)
print(type(4.2))

print(.4e7)
print(3.4e-4)

print(.2)

4.2
<class 'float'>
4000000.0
0.00034
0.2

### String

In [10]:
print('Hacktiv8 Batch 36')

print(type('Hacktiv8 Batch 36'))

Hacktiv8 Batch 36
<class 'str'>

In [13]:
print('')

print("Let's")

Let's

In [16]:
print(type('2'))

<class 'str'>

### Boolean

In [17]:
True

True

In [18]:
False

False

In [20]:
print(type(True))
print(type('True'))

<class 'bool'>
<class 'str'>

## Variable

In [21]:
beefPizza = 5

In [22]:
print(beefPizza)

5

In [23]:
beefPizza = 10

In [24]:
print(beefPizza)

10

In [25]:
chickenPizza = beefPizza = 5

In [26]:
print(chickenPizza, beefPizza)

5 5

In [27]:
beefPizza = 'kosong'

In [28]:
print(chickenPizza, beefPizza)

5 kosong

In [29]:
nama = 'Hacktiv8'
Umur = 26
punya_laptop = True

print(nama, Umur, punya_laptop)

Hacktiv8 26 True

In [30]:
9_bola_naga = True

SyntaxError: invalid token (<ipython-input-30-5667443eb5c2>, line 1)

In [31]:
umur = 1
Umur = 2
UMUR = 3
uMur = 4
um_ur = 5
_umur = 6

print(umur, Umur, UMUR, uMur, um_ur, _umur)

1 2 3 4 5 6

## Operators and Expression

In [32]:
a = 10
b = 20
print(a + b)

30

In [33]:
a + b * 240

4810

### Aritmetic Operator

In [37]:
a = 4
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

6
2
8
2.0
0
16

### Comparison Operator

In [38]:
a = 4
b = 2

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
False
True

## String Manipulation

In [45]:
# + Operator

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'Batch 36')

foobar
foobarbaz
Hacktiv8 Batch 36

In [46]:
# * Operator

s = 'foo.'

print(s * 8)

foo.foo.foo.foo.foo.foo.foo.foo.

In [49]:
# in operator

s = 'foo'

print(s in 'That food for us')
print('foo' in 'That good for us')

True
False

In [7]:
# Case Conversion

s = 'HaCktIv8 batCh 36'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8 batch 36
hacktiv8 batch 36
hAcKTiV8 BATcH 36
Hacktiv8 Batch 36
HACKTIV8 BATCH 36

## Python List

In [9]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [10]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [11]:
a = [21.42, 'foobar', 3, 4, 'bar', False, 3.14]

print(a)

[21.42, 'foobar', 3, 4, 'bar', False, 3.14]

In [12]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [18]:
print(a[0])
print(a[5])

foo
corge

In [20]:
print(a[-1])
print(a[-6])

corge
foo

In [25]:
# Slicing - list[start:stop:step]

print(a)
print(a[1:3])
print(a[0:4:2])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['bar', 'baz']
['foo', 'baz']

In [28]:
# Concatenation and Replication

print(a)

print(a + ['list1', 'list2'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'list1', 'list2']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [30]:
# len, min, max
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [37]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

print(a[2])

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
baz
['foo', 'bar', 10, 'qux', 'quux', 20]

In [39]:
print(a)

del a[2]

['foo', 'bar', 10, 'qux', 'quux', 20]

In [40]:
print(a)

['foo', 'bar', 'qux', 'quux', 20]

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1, 2, 3, 4, 5, 6]

['bar', 'baz', 'qux']

In [44]:
print(a)

['foo', 1, 2, 3, 4, 5, 6, 'quux', 'corge']

## Tuples

In [45]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [47]:
print(t[0])
print(t[-1])

foo
corge

In [48]:
t[0] = 'newValue'

TypeError: 'tuple' object does not support item assignment

In [49]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [51]:
print(s1)
print(s4)

foo
qux

## Dictionary

In [52]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [54]:
print(MLB_team['Minnesota'])
print(MLB_team['Seattle'])

Twins
Mariners

In [57]:
# MLB_team['Toronto']
# error

In [58]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [59]:
MLB_team['Kansas City'] = 'Royals'

In [60]:
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [61]:
MLB_team['Colorado'] = 'Persija'

In [62]:
print(MLB_team)

{'Colorado': 'Persija', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [63]:
del MLB_team['Colorado']

In [64]:
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [65]:
person = {}

In [66]:
person

{}

In [67]:
person['fname'] = 'Hacktiv8'

In [68]:
person

{'fname': 'Hacktiv8'}

In [69]:
person['lname'] = 'Batch 36'

In [70]:
person

{'fname': 'Hacktiv8', 'lname': 'Batch 36'}

In [71]:
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [72]:
person

{'fname': 'Hacktiv8',
 'lname': 'Batch 36',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [74]:
print(person['fname'])
print(person['age'])

Hacktiv8
51

In [77]:
print(person['children'])
print(person['children'][0])

['Ralph', 'Betty', 'Joey']
Ralph

In [79]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [80]:
d = {'a': 10, 'b': 20, 'c': 30}

In [81]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [82]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [83]:
d.values()

dict_values([10, 20, 30])

In [85]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

In [86]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True